Flask
flask-socketio
beautifulsoup4 
bs4
frozendict
geopy
ipython
kafka-python
python-socketio
python-engineio
matplotlib
numpy
py4j
pyelasticsearch
pymongo
cassandra-driver
requests
scipy
selenium
scikit-learn
tabulate
tldextract
wikipedia
findspark
iso8601
urllib3==1.24
joblib
